<ion-content padding>
  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-img src="assets/imgs/logo.png"></ion-img>
      </ion-col>

    </ion-row>
  </ion-grid>
  <form>
    <ion-item class="item-username">
      <ion-input [(ngModel)]="loginData.user_email" name="username" type="text" placeholder="Email" class="input-username"></ion-input>
    </ion-item>
    <ion-item class="item-password">
      <ion-input [(ngModel)]="loginData.user_password" name="password" type="password" placeholder="Password" class="input-password"></ion-input>
    </ion-item>
    <button ion-button block clear (click)="doLogin()" class="login-button">
      LOG IN
    </button>
    <div class="or-login-with">
      <p>OR LOGIN WITH</p>
    </div>
  </form>

  <ion-grid class="login-using-container">
    <ion-row>
      <ion-col tappable (click)="do_facebook_login()" col-3>
        <ion-img src="assets/imgs/facebook.png"></ion-img>
        <ion-label>Facebook</ion-label>
      </ion-col>
      <ion-col tappable (click)="do_twitter_login()" col-3>
        <ion-img src="assets/imgs/wechat.png"></ion-img>
        <ion-label>WeChat</ion-label>
      </ion-col>
      <ion-col tappable (click)="do_instagram_login()" col-3>
        <ion-img src="assets/imgs/instagram.png"></ion-img>
        <ion-label>Instagram</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button block clear (click)="register()" class="login-button">
    SIGN UP FOR FREE
  </button>
</ion-content>