page-edit-profile {
    .content{
        background-image: url("../assets/imgs/register_bg.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 0;
      }
      .back-button.show-back-button{
          z-index: 1;
      }
      .toolbar-title{
            font-size: 17px;
            letter-spacing: 2px;
      }
      .toolbar-background{
            background:transparent; 
      }
    
    ion-img.img-loaded img {
        display: block;
        height: auto;
        max-height: 140px;
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;
    }
    ion-img {
        display: block;
        background: transparent;
        contain: none;
        text-align: center;
    }
    .profile-photo {
        border-radius: 50% !important;
        margin-left : auto;
        margin-right : auto;
        display : block;
        width : 50%;
    }
    ion-label{
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 10px 0px 0px 0px;
    }

    .item{
        padding-left: 0px;
    }
    .text-input {
        margin: 0;
        padding: 0;
        width: 100% !important;
    }
    
    
    .item-block .item-inner {
        padding: 10px;
    }
    .item-block .item-inner {
        padding: 10px;
    }
    .scroll-content {
        padding: 20px 30px !important;
    }
    .item-block{
        min-height: 0px;
        font-size: 1.3rem;
    }
    .register-button {
        font-size: 15px;
            color: #000;
            font-weight: 600;
            text-transform: none;
            letter-spacing: 2px;
            background: url(../assets/imgs/button.png);
            background-size: cover;
            height: 40px;
            padding: 7px;
            background-repeat: no-repeat;
            width: 100%;
            background-position: center;
            border-radius: 50px;
        margin: 30px 0px 0px 0px;
    }
    ion-item.item-username {
        border-bottom: 1px solid #0b8fa6;
        border-radius: 10px 10px 0px 1px;
        background: white url("../assets/imgs/username.png") 15px no-repeat;
        padding-left: 30px;
        background-size: 15px 13px;
    }
    ion-item.item-confirmpassword {
        border-bottom: none;
        border-radius: 0px 0px 10px 10px;
        background: white url("../assets/imgs/lock.png") 15px no-repeat;
        padding-left: 30px;
        background-size: 13px 17px;
    }
    ion-item.item-mobilenumber, ion-item.item-email, ion-item.item-password {
        border-bottom: 1px solid #0b8fa6;
        border-radius: 0px 0px 0px 0px;
        padding-left: 30px;
        background-size: 13px 17px !important;
    }
    ion-item.item-mobilenumber{
        background: white url("../assets/imgs/mobilenumber.png") 15px no-repeat;
    }
    ion-item.item-email{
        background: white url("../assets/imgs/mail.png") 15px no-repeat;        
    }
    ion-item.item-password{
        background: white url("../assets/imgs/lock.png") 15px no-repeat;
    }
    .item.item-block .item-inner{
        border: none;
    }
}
