
<ion-header>
  <ion-navbar>
    <ion-title>EDIT PROFILE</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="profile-photo" (click)="getProfilImageFromCameraGallry()" [src]=userPic/>
        <ion-label > PROFILE PICTURE </ion-label>  
      </ion-col>
    </ion-row>

  </ion-grid>
  <form (submit)="user_update()">
    <ion-item class="item-username">
      <ion-input class="input-username" [(ngModel)]="userData.first_name" name="first_name" type="text" placeholder="Firstname" ></ion-input>
    </ion-item> 
    <ion-item class="item-username">
      <ion-input class="input-username" [(ngModel)]="userData.last_name" name="last_name" type="text" placeholder="Lastname" ></ion-input>
    </ion-item> 
    <ion-item class="item-username">
      <ion-input class="input-username" [(ngModel)]="userData.user_name" name="username" type="text" placeholder="Username" ></ion-input>
    </ion-item>
    <ion-item class="item-mobilenumber">
      <ion-input class="input-mobilenumber" [(ngModel)]="userData.user_mobilenumber" name="mobilenumber" type="number" placeholder="Mobile Number" min="10" max="10"></ion-input>
    </ion-item>
    <ion-item class="item-email">
        <ion-input class="input-email" [(ngModel)]="userData.user_email" name="email" type="text" placeholder="Email" ></ion-input>
    </ion-item>
    <button ion-button block clear type="submit" class="register-button">
      UPDATE PROFILE
    </button>
  </form>
</ion-content>