<ion-header no-border>
  <ion-navbar>
    <ion-title>SETTINGS</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-list inset class="list-settingslist">
      <ion-list-header>
        ACCOUNT
      </ion-list-header>
      <ion-item>Change Password</ion-item>
      <ion-list-header>
        APP OPTION
      </ion-list-header>
      <ion-item>Linked Accounts</ion-item>
      <ion-item>Push Notifications</ion-item>
      <ion-item>Allways Comment on Street 7</ion-item>
      <ion-item>Blocked Users</ion-item>
      <ion-list-header>
          GENERAL
        </ion-list-header>
        <ion-item>About</ion-item>
      <ion-item>Contact Us</ion-item>
      <ion-item>Report a Problem</ion-item>
      <ion-item>Privacy Policy</ion-item>
      <ion-list-header>
          
        </ion-list-header>
        <ion-item (click)="logout()">Logout</ion-item>
    
      </ion-list>  
</ion-content>
