<ion-header no-border>
  <ion-navbar>
    <ion-title>{{post_title}}</ion-title>
    <!-- <ion-buttons *ngIf="show_edit_button" end> <button class="btn-my-groups btn-edit-profile" ion-button clear tappable end (click)="editPost()"> Edit Post </button></ion-buttons> -->
    <ion-buttons *ngIf="show_edit_button" end> <button class="btn-my-groups btn-edit-profile" ion-button clear tappable end (click)="open_post_option($event)"> <ion-icon name="more"></ion-icon> </button></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>


  <ion-slides #postslides >
    
    <ion-slide *ngFor="let slide of post_slides">
      <img src="{{slide.img_url}}">
      <div ion-fixed class="img-banner-post">
          <!-- <img src="https://source.unsplash.com/random"> -->
          <div class="like-share-view-container">
            <p>
              <ion-icon name="ios-eye-outline"></ion-icon>
              <i>{{post_views}}</i>
            </p>
            <p>
              <ion-icon name="md-heart-outline"></ion-icon>
              <i>{{post_likes}}</i>
            </p>
            <p>
              <ion-icon name="share"></ion-icon>
              <i>{{post_shares}}</i>
            </p>
          </div>
        </div>
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-row class="buttons-container">
      <ion-col>
        <button ion-button round clear class="btn-user-content" (click)="post_like()">
          <ion-icon [name]="like"></ion-icon>
          <p>Like</p>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button round clear class="btn-user-content " (click)="share()">
          <ion-icon name="md-share"></ion-icon>
          <p>Share</p>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button round clear class="btn-user-content ">
          <ion-icon name="ios-people-outline"></ion-icon>
          <p>Invite Teammates</p>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button round clear class="btn-user-pm">
          <ion-icon name="ios-chatbubbles-outline"></ion-icon>
          <p>PM</p>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="posted-user-details">
        <div class="story_img_bg">
          <img no-margin no-padding class="story_img" src="{{post_by_user_avatar}}">
        </div>
        <p>{{post_by_user}}</p>
        <ion-item>
          <ion-icon name="ios-clock-outline"></ion-icon>
          <ion-label class="posted-time-duration"><img src="assets/imgs/clock.png">{{post_time}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="post-title">{{post_title}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="post-content">
      <ion-col>
        <p>
          {{post_description}}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="post_comments">
    <ion-item class="message-container" no-lines *ngFor="let pc of post_comments">
      <ion-avatar item-left>
        <img [src]="pc.user_profile_pic">
      </ion-avatar>
      <h2>{{ pc.user_name }} </h2>
      <p>{{ pc.post_comment_content }} </p>
      <ion-note item-right class="message-time" style="padding-left: 2px"><img src="assets/imgs/clock.png">{{ pc.time }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="add-comment-container">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-8>
            <form>
          <ion-input type="text" placeholder="ADD A COMMENT" [(ngModel)]="user_comment" name="user_comment"></ion-input>
          </form>
        </ion-col>
        <ion-col col-4 class="btn-add-comment">
          <button ion-button round clear (click)="add_comment()">SEND</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>